.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2024/05/21/17/36/storybook-house-8778676_1280.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}z

.login-container h2 {
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 2rem;
}

.login-container form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 230px;
  text-align:left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #0e0108;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 1.2rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #000000 !important;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 1.2rem;
}

button[type="submit"]:hover {
  background-color: #12020b;
}

.login-container p {
  color: #fe0004;
  margin-top: 40px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 1.2rem;
}

.login-container a {
  color: #02fc34;
  font-size: 1.2rem;
}
