/* Pricing.css */

.pricing-page {
  font-family: Arial, sans-serif;
}

.pricing-section {
  text-align: center;
  padding: 40px;
  background-color: #d7dee6;
}

.pricing-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333; /* Black text */
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pricing-box {
  background-color: rgb(234, 237, 239);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #333333; /* Black text */
}

.pricing-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333; /* Black text */
}

.pricing-price {
  font-size: 36px;
  color: #333333; /* Black text */
  margin: 10px 0;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pricing-features li {
  margin: 10px 0;
  color: #333333; /* Black text */
}

.pricing-button {
  background-color: #0e1011;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.pricing-button:hover {
  background-color: #ebe2d9;
}

.features-section {
  padding: 40px;
  background-color: #dfe5e9;
  text-align: center;
}

.features-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333; /* Black text */
}

.features-slider {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  padding: 20px 0; /* Adjust padding if needed */
}

.feature-slide {
  flex: 0 0 auto;
  width: 600px;
  background-color: rgb(215, 226, 234);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 20px;
  scroll-snap-align: start;
}

.feature-image {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  border-radius: 8px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.feature-info {
  margin-top: 20px;
}

.feature-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333; /* Black text */
}

.feature-info p {
  font-size: 16px;
  color: #333333; /* Black text */
}
